@media screen and (max-width: 890px) {
   .data-card{
      width: 20vw;
   }

 .dyn-card{

   height: 200px;
 }

}



@media screen and (max-width: 500px) {

   a#gigw {

      font-size: 12px;

    }

    


}