@media screen and (max-width: 890px) {
   .data-card{
      width: 20vw;
   }
   /* .links_section_link{
      padding: ;
      border-radius: 5px;
      height: 130px;
      font-size: 16px;
      padding: 10px;
   
 */


}



@media screen and (max-width: 500px) {

   a#gigw {

      font-size: 12px;

    }


}